<div id="search" class="">
  <form action="{{action}}" method="get">
    <input type="text" name="search" value="{{ search }}" placeholder="Я хочу купить..." class="my_search" autocomplete="off" />
    <input type="image" class="my_search_btn" src="catalog/view/theme/default/img/icons/search.png">
    <div class="search_result">
      <div class="search_result_list"></div>
    </div>
  </form>
</div>